body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formulario_sesion {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

#formulario_sesion h2 {
    text-align: center;
    color: #000000;
}

#formulario_sesion label {
    display: block;
    margin-bottom: 5px;
}

#formulario-sesion input[type="text"],
#formulario-sesion input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#formulario-sesion input[type="button"] {
    width: 100%;
    padding: 10px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#formulario-sesion input[type="button"]:hover {
    background-color: #000000;
}

main {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    color: #007bff;
}

header button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

header button:disabled {
    background-color: #ccc;
    color: #777;
    cursor: not-allowed;
}

section#candidatos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.candidato {
    width: 250px;
    margin: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #fafafa;
}

.candidato img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    cursor: pointer;
}

.candidato h2 {
    color: #000000;
    margin-bottom: 10px;
}

.candidato h3 {
    color: #333;
    margin-bottom: 10px;
}

#resultados {
    text-align: center;
}

#resultados h2 {
    color: #007bff;
    margin-bottom: 20px;
}

#resultados ul {
    list-style: none;
    padding: 0;
}

#resultados li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

#ventana-confirmacion {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
